.settings__wrapper,
.form__wrapper {
  background-color: var(--white);
  margin: 1rem;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100% !important;
}

.container__wrapper {
  background-color: var(--white);
  margin: 1rem;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

.settings__wrapper > * {
  text-transform: capitalize;
  font-size: 1.5rem;
  box-shadow: 1px 1px 3px 1px rgb(216, 216, 216);
  margin: 1rem 0;
  padding: 1rem 2rem;
  border-radius: 5px;
  color: var(--black);
}

.form__wrapper h3,
.form__wrapper p {
  margin-bottom: 1rem;
}
.form {
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  position: relative;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.form-control {
  width: 100%;
  display: block;
  border: none;
  border: 1px solid grey;
  outline: none;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 8px;
}

.control-label {
  display: block;
  position: absolute;
  opacity: 0;
  top: 0rem;
  color: var(--primary-color);
  transition: 0.2s ease-in-out transform;
  font-size: 12px;
  margin-left: 0.1rem;
}

.form-control:placeholder-shown + .control-label {
  visibility: hidden;
  z-index: -1;
  transition: 0.2s ease-in-out;
}

.form-control:not(:placeholder-shown) + .control-label,
.form-control:focus:not(:placeholder-shown) + .control-label {
  visibility: visible;
  z-index: 1;
  opacity: 1;
  transform: translateY(-2px);
  transition: 0.2s ease-in-out transform;
}

.form-control:focus {
  border: 1px solid var(--primary-color);
}
.file-input {
  overflow-y: hidden;
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
}

.file-input label {
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  gap: 4px;
  margin-bottom: 0.5rem;
}

.form__wrapper button {
  outline: none;
  border: none;
  padding: 1rem;
  color: var(--yellow);
  font-size: 1rem;
  background-color: var(--primary-color);
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: 0.2s all ease;
}

.form__wrapper button:hover {
  background-color: var(--hover);
}
.update__wrapper {
  padding: 1rem;
  max-width: 100% !important;
}

.update__header {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  flex-direction: column;
}

.form__wrapper .product__wrapper {
  display: flex;
  gap: 2rem;
  padding: 10px;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 5px;
  margin: 0.5rem;
  align-items: center;
}
.staff__wrapper {
  display: flex;
  gap: 1rem;
  padding: 0.1px;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 5px;
  margin: 0.5rem;
  align-items: center;
  border: 0.1px solid #ec9c04;
  cursor: pointer;
}

.staff__name {
  display: flex;
  gap: 1rem;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 5px;
  margin: 0.1rem;
  align-items: center;
}

.staff__name p {
  font-weight: bold;
  margin: 0;
  padding: 1rem 0.5rem;
}

.flex-items {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  text-align: center;
  box-sizing: border-box;
}

button.flex-items {
  border: none;
  color: orange;
  outline: none;
  border: none;
  font-size: 1rem;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s all ease;
  font-weight: bold;
}

button.flex-items:hover {
  color: red;
  background-color: transparent;
}
.backdrop__container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .main__report {
  overflow: hidden;
}

.modal__container {
  margin: 1rem;
  padding: 7rem;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  background-color: white;
}

.close {
  display: none;
}

.inputTag::file-selector-button {
  display: none;
}

.reportbuttons {
  align-self: flex-start;
  justify-self: flex-start;
  font-size: 1rem;
  padding: 1.5rem;
  outline: none;
  background-color: #ec9c04;
  border: none;
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  margin: 1rem 1rem;
  border-radius: 5px;
  transition: all 0.2s ease;
}

.reportbuttons:hover {
  background-color: darkred;
}

.report__table {
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #1f252f;
  display: flex;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 5px;
  align-items: center;
}

.table__header {
  border-radius: 10px;
  background-color: #e2e9fa;
  border: none;
  outline: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.table__row {
  border: none;
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  box-sizing: border-box;
  padding: 15px;
}

.modal__buttons {
  outline: none;
  border: none;
  color: var(--yellow);
  cursor: pointer;
  display: flex;
  margin: 0.5rem auto;
}

.modal__buttons .button {
  margin: 0.5rem;
  outline: none;
  border: none;
  padding: 20px;
  color: var(--yellow);
  border-radius: 5px;
  background-color: var(--primary-color);
}

.close__button {
  margin: 0.5rem;
  outline: none;
  border: 1px solid var(--primary-color);
  padding: 20px;
  border-radius: 5px;
  background-color: transparent;
  color: var(--primary-color);
}

.modal__buttons .button:hover {
  background-color: #ec9c04;
}

.staff__modal {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal__input {
  outline: none;
  padding: 1rem 8rem;
  border-radius: 5px;
}

/* .go__back {
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin: 20px;
  width: 200px;
} */

.page__name {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.1rem;
}

.back__button {
  border: 1px solid var(--primary-color);
  display: flex;
  width: 100px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  height: 40px;
}

.goback__text {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
  letter-spacing: 0.0015em;
}

.no__length {
  margin: 5rem auto;
  box-shadow: none;
  color: var(--grey-font);
}

.clear {
  box-shadow: none;
  color: rgb(255, 60, 0);
  width: fit-content;
  margin-left: auto;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: rgb(204, 53, 7);
}

.clear:hover {
  background-color: rgba(204, 53, 7, 0.4);
  color: var(--white);
}

.staff__name {
  display: flex;
  gap: 1rem;
  padding: 15px;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 5px;
  margin: 0.1rem;
  align-items: center;
}

.general__reportTable {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5rem;
  padding-bottom: 1rem;
  gap: 20rem;
}

.general__reportDate {
  font-size: 1.5rem;
  padding-top: 3rem;
  text-decoration: underline;
  margin-right: 14rem;
}


.from__datebtn,.to__datebtn {
  padding: 0.9rem 1rem;
    margin-top: 3px;
    color: var(--yellow);
    border-radius: 8px;
    font-weight: 500;
    border: 1px solid var(--blue-border);
    cursor: pointer;
    background-color: var(--primary-color);
}


.report--get__date{
  color: var(--yellow);
  padding: 0.1rem 0.6rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 8px;
  font-size: 1rem;
  margin-left: 0.2rem;
  font-weight: 500;
  border: 1px solid var(--blue-border);
  cursor: pointer;
  background-color: var(--primary-color);
}


.dateTime__to .report--get__date{
  padding: 0.6rem;
}



/* Responsivessness for Mobile Screen */
@media (max-width: 768px) {
  .form__wrapper {
    width: 100%;
    margin: 0rem;
    padding: 0rem;
  }

  .staff__name {
    width: 100%;
    display: flex;
    gap: 1rem;
    padding: 0rem;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 5px;
    margin-top: 0rem;
    align-items: center;
    overflow-x: scroll;
  }

  .staff__name p {
    font-weight: bold;
    margin: 0;
    padding: 1rem 0.5rem;
  }
  .products__wrapper {
    width: 100%;
    margin: 0rem;
    overflow-x: scroll;
  }

  .staff__wrapper {
    display: flex;
    gap: 0.5rem;
    padding: 10px;
    width: 100%;
    overflow-x: scroll;
  }
  body .form__wrapper {
    padding: 0rem 1rem;
  }

  .staff__category {
    width: 100%;
  }

  .go__back {
    border: 0px;
    border-radius: 8px;
    padding: 0px;
    gap: 0px;
    display: none;
  }
  .goback__text {
    display: none;
  }
  .goback__icon {
    display: none;
  }

  .back__button {
    display: none;
  }

  .modal__container {
    margin: 1rem;
    padding: 4rem 5rem;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background-color: white;
  }

  .modal__input {
    outline: none;
    padding: 1rem;
    border-radius: 5px;
    width: 100%;
  }

  .modal__buttons {
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    margin: 0.3rem auto;
  }

  .page__name {
    font-size: 2.5rem;
    margin-top: 1.3rem;
  }

  .table__column {
    padding: 1.5rem 0.5rem;
    border-radius: 5px;
  }

  .general__reportTable {
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
    padding-bottom: 1rem;
    gap: 2rem;
  }

  .general__reportDate {
    font-size: 1.5rem;
    padding-top: 3rem;
    text-decoration: underline;
    margin-right: 0rem;
  }
}
